# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.bak
*.tmp
*.old
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VSCode (optional)
.vscode/settings.json

# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android build
/android/app/debug
/android/app/profile
/android/app/release

# Android sensitive
android/key.properties
android/local.properties
*.keystore
*.jks

# iOS sensitive
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Firebase Admin / service accounts
serviceAccountKey.json
firebase-adminsdk.json
*.pem
*.p12
*.key

# Environment variables
.env
.env.*